<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semana Seis</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/sign-up.css">
    <link rel="stylesheet" href="../styles/footer.css">body {
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>

<body>
    <header>
        <div class="menu-burguer">
            <img src="../assets/hamburguer.png">
            <h1>
                Trackgenix
            </h1>
        </div>
        <nav>
            <ul class="social-media">
                <li>
                    <a href="https://www.linkedin.com/in/radium-rocket/" target="_blank">
                        <img class="photo" src="../assets/linkedin-logo1.png">
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/radiumrocket" target="_blank">
                        <img class="photo" src="../assets/twitter-logo1.png">
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/radiumrocket?_rdc=1&_rdr" target="_blank">
                        <img class="photo" src="../assets/facebook-logo1.png">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/radium.rocket/" target="_blank">
                        <img class="photo" src="../assets/instagram-logo1.png">
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="fakehr"></div>
    <main>
        <section>
            <h1>
                Sign up
            </h1>
            <form>
                <div class="name">
                    <h2>Name</h2>
                    <input type="text" name="name" placeholder="Name">
                    <h2>Last Name</h2>
                    <input type="text" name="last-name" placeholder="Last Name">
                </div>
                <div class="email">
                    <h2>Email</h2>
                    <input type="text" name="email" placeholder="Email">
                    <h2>Password</h2>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div class="repeat-password">
                    <h2>Repeat Password</h2>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div class="div-confirm">
                <button class="confirm">
                    Confirm
                </button>
                </div>
                <a>Forgot your password?</a>
            </form>
        </section>
    </main>
    <div class="fakehr-footer"></div>
    <footer>
        <div class="conteiner-footer">
            <ul>
                <li>
                    <a href="https://www.linkedin.com/in/radium-rocket/" target="_blank">
                        <img src="../assets/linkedin-logo1.png">
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/radiumrocket" target="_blank">
                        <img src="../assets/twitter-logo1.png">
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/radiumrocket?_rdc=1&_rdr" target="_blank">
                        <img src="../assets/facebook-logo1.png">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/radium.rocket/" target="_blank">
                        <img src="../assets/instagram-logo1.png">
                    </a>
                </li>
            </ul>
            <p>
                Rosario, Argentina
            </p>
            <p>
                Copyright © 2022 Trackgenix SA. All rights reserved.
            </p>
        </div>
    </footer>
</body>

</html>