body {
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

a:link,
a:visited a:active {
    text-decoration: none;
}

aside {
    float: left;
    width: 220px;
    height: 100%;
    left: 0px;
    top: 0px;
    padding: 7px;
    margin-top: 0;
    position: fixed;
}

.h2-sidebar {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    color: #373867;
}

.line-green {
    width: 78px;
    height: 2px;
    background-color: #AACE9B;
    margin-top: 0;
    margin-left: 12px;
    margin-bottom: 20px;
}

.line-get-in-touch {
    width: 175px;
    height: 2px;
    background-color: #AACE9B;
    margin-top: 0;
    margin-left: 13px;
    margin-bottom: 20px;
}

.list-sidebar {
    left: 6.08%;
    right: 80.54%;
    top: 22.63%;
    bottom: 75.31%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12.7141px;
    line-height: 15px;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 0;
}

.line-long {
    width: 220px;
    height: 2px;
    background-color: #555553;
    padding-top: 0;
    box-shadow: 0.2px, 0.2px;
    margin-bottom: 5px;
}

.last-line-long {
    width: 220px;
    height: 2px;
    background-color: #555553;
    padding-top: 0;
    box-shadow: 0.2px, 0.2px;
    margin-bottom: 30px;
}

.text-get-in-touch {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.info-contact {
    margin-top: 17px;
    display: inline-block;
    width: 256px;
}

.icon {
    display: block;
    width: max-content;
    padding: 8px;
    font-size: 14px;
}

.icon img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.icon p {
    width: 200px;
    display: inline-block;
    vertical-align: middle;
}

a {
    color: black;
}

a:hover {
    color: #46A37C;
}

header {
    position: absolute;
    width: 1110px;
    height: 100px;
    left: 220px;
    top: 0;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-left: 30px;
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
    color: #373867;
}

.ul-header {
    position: absolute;
    top: 0;
    right: 0;
}

.social-media {
    display: inline-block;
    width: 4%;
    list-style: square;
    list-style: none;
    padding: 10px;
    float: right;
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 5px;
}

.photo {
    width: 220%;
    height: 220%;
}

.fakehr {
    width: 99%;
    height: 3px;
    background-color: #AACE9B;
    margin-left: 30px;
    margin-top: 15px;
}

main {
    margin-top: 100px;
    margin-left: 250px;
}

.section-i-am-trackgenix {
    display: inline-block;
}

.section-i-am-trackgenix h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #373867;
    line-height: 56px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-top: 5px;
}

.section-i-am-trackgenix h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #373867;
    line-height: 23px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.section-i-am-trackgenix p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #373867;
    line-height: 24px;
    padding: 5px;
    margin-bottom: 20px;
    margin-left: 5px;
}

.section-i-am-trackgenix img {
    float: right;
    width: 500px;
    height: 300px;
    padding: 5px 2px 15px 0;
}

.button-learn-more {
    background: #FFFFFF;
    border: 3px solid #AACE9B;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #AACE9B;
    padding: 5px 30px 5px;
    margin-left: 5px;
}

.fakehr1 {
    width: 100%;
    height: 1px;
    background-color: #5e5f5d;
    margin-top: 10px;
    margin-bottom: 15px;
}

.title-features {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    font-weight: bold;
    line-height: 23px;
    color: #373867;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px;
}

.div-features {
    display: inline-block;
    width: 40%;
    vertical-align: middle;
    margin: 30px;
    padding: 15px;
}

.img-rhombus {
    display: inline-block;
    width: 120px;
    height: 120px;
    margin: 15px;
    overflow: hidden;
    border-radius: 3px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: relative;
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .05);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .05);
    vertical-align: middle;
}

.img-rhombus img {
    transform: rotate(-45deg);
    padding: 10px;
}

.text-features {
    display: inline-block;
    width: 50%;
    margin: 0 10px 10px 20px;
    padding: 0 15px 15px 15px;
    vertical-align: middle;
}

.text-features h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #373867;
    text-align: center;
    padding: 0 15px 15px 15px;
    margin: 0 10px 10px 20px;
    vertical-align: middle;
}

.why-choose-us {
    display: inline-block;
    width: 100%;
    height: 450px;
}

.why-choose-us h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    font-weight: bold;
    line-height: 23px;
    color: #373867;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px;
}

.div-why-choose-us {
    display: inline-block;
    width: 20%;
    margin: 5px;
    padding: 15px;
}

.div-why-choose-us1 {
    display: inline-block;
    width: 22%;
    margin: 5px;
    padding: 15px;
}

.div-why-choose-us1 img {
    width: 255px;
    height: 248px;
}

.why-choose-us h5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    text-align: left;
    color: #373867;
    margin-top: 10px;
    margin-bottom: 10px;
}

.why-choose-us p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #373867;
    margin-bottom: 5px;
}

.fakehr2 {
    display: inline-block;
    height: 360px;
    margin: 0px -15px -5px 15px;
    border-left: 1px solid black;
}

.fakehr2b {
    display: inline-block;
    height: 360px;
    margin: 0px -15px -5px -1px;
    border-left: 1px solid black;
}

.form {
    display: inline-block;
    width: 1050px;
    height: 370px;
}

.form h5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    font-weight: bold;
    line-height: 23px;
    color: #373867;
    margin-bottom: 25px;
    margin-top: 10px;
    margin-left: 5px;
}

.email-and-name {
    display: inline-block;
    width: 1050px;
}

.name {
    padding: 10px 12px 10px 5px;
    border: 1px solid #373867;
    box-sizing: border-box;
    border-radius: 4px;
    width: 520px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.email {
    padding: 10px 12px;
    border: 1px solid #373867;
    box-sizing: border-box;
    border-radius: 4px;
    width: 520px;
    margin-bottom: 10px;
    float: right;
}

.contact-area {
    padding: 10px 12px 10px 5px;
    border: 1px solid #373867;
    box-sizing: border-box;
    border-radius: 4px;
    width: 520px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 10px;
}

.message {
    padding: 10px 12px 10px 5px;
    border: 1px solid #373867;
    box-sizing: border-box;
    border-radius: 4px;
    width: 1045px;
    height: 130px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 10px;
}

.button-form {
    display: inline-block;
    width: 450px;
}

.button-send-message-reset {
    width: 190px;
    height: 45px;
    background: #AACE9B;
    border-radius: 5px;
    margin-left: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #373867;
}

.our-history {
    display: inline-block;
    width: 1050px;
    height: 650px;
}

.our-history h5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    font-weight: bold;
    line-height: 23px;
    color: #373867;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 2px;
}

.line-our-history {
    width: 125px;
    height: 0px;
    border: 1px solid #000000;
    margin-bottom: 20px;
    margin-left: 7px;
}

.our-history h6 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;
    color: #373867;
    margin-left: 5px;
    margin-bottom: 5px;
}

.text-our-beginings {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #373867;
    margin-left: 5px;
    margin-bottom: 20px;
}

.div-crucial-moments {
    display: inline-block;
    width: 1050px;
    height: 250px;
}

.div-crucial-moments img {
    width: 250px;
    height: 150px;
    float: left;
    margin-top: 20px;
    margin-right: 10px;
}

.div-crucial-moments p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #373867;
    margin-top: 55px;
    margin-left: 20px;
    text-align: center;
}

.div-crucial-moments2 {
    display: inline-block;
    width: 1050px;
    height: 250px;
}

.div-crucial-moments2 img {
    width: 250px;
    height: 150px;
    float: right;
}

.div-crucial-moments2 p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #373867;
    margin-top: 35px;
    margin-left: 5px;
    margin-right: 10px;
    text-align: center;
}

.section-products-features-business {
    display: inline-block;
    width: 1050px;
    height: 115px;
    margin-top: 25px;
}

.section-products-features-business h6 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #373867;
    margin-bottom: 10px;
}

.section-products-features-business li {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #373867;
}

ol {
    margin-left: 15px;
}

.div-products {
    display: inline-block;
    margin-left: 5px;
    margin-right: 130px;
}

.div-business {
    display: inline-block;
    margin-left: 130px;
    margin-right: 130px;
}

.div-support {
    display: inline-block;
    margin-left: 130px;
    margin-right: 130px;
}

.fakehr-footer {
    width: 100%;
    height: 3px;
    background-color: #AACE9B;
    margin-top: 10px;
    margin-bottom: 15px;
}

footer {
    margin-top: 100px;
    margin-left: 250px;
}

.footer-img {
    display: inline-block;
    margin-left: 360px;
    margin-right: 300px;
}

.social-media-footer {
    display: inline-block;
    width: 4%;
    list-style: square;
    list-style: none;
    padding: 10px;
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 5px;
}

footer p {
    text-align: center;
    padding: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #373867;
}