main {
    width: 100%;
}

.section-i-am-trackgenix {
    width: 100%;
    display: flex;
    padding-bottom: 10px;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    align-items: center;
}

.section-i-am-trackgenix img {
    width: 350px;
    height: 260px;
    margin-bottom: 25px;
}

.conteiner-text {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    min-width: 300px;
    align-items: center;
}

.section-i-am-trackgenix h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #373867;
    text-align: center;
    margin-top: 10px;
    width: 320px;
}

.section-i-am-trackgenix h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #373867;
    height: 45px;
    text-align: center;
    margin-top: 10px;
}

.section-i-am-trackgenix p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #373867;
    width: 317px;
    height: 146px;
    margin-top: 10px;
}

.section-i-am-trackgenix button {
    height: 46px;
    background: #FFFFFF;
    border: 3px solid #AACE9B;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 20px;
    width: 170px;
}

.section-features {
    width: 100%;
    display: flex;
    padding-bottom: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.title-features {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #373867;
    width: 100%;
    margin-bottom: 10px;
}

.div-features {
    display: flex;
    padding: 10px;
    vertical-align: middle;
    justify-content: space-between;
    width: 40%;
    min-width: 300px;
    align-items: center;
}

.text-features {
    width: 60%;
}

.text-features h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #373867;
    padding-bottom: 5px;
    padding-left: 15px;
}

.text-features p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #373867;
    padding-bottom: 5px;
    padding-left: 15px;
}

.img-rhombus {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 3px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .05);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .05);
    margin: 15px;
}

.img-rhombus img {
    transform: rotate(-45deg);
}

.why-choose-us {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.why-choose-us h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    font-weight: bold;
    line-height: 23px;
    color: #373867;
    text-align: center;
    width: 100%;
    margin: 0 0 20px 0;
}

.div-why-choose-us {
    display: flex;
    justify-content: space-around;
    width: 40%;
    min-width: 300px;
    margin: 10px;
    flex-direction: column;
    align-items: center;
}

.div-why-choose-us img {
    width: 350px;
    height: 230px;
}

.why-choose-us h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #373867;
    margin: 15px 0 5px 0;
}

.why-choose-us p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #373867;
}